:root {
  --linear-background: linear-gradient(180deg, #8ee902 0%, #4f9c2c 100%);
  --linear-text-color: linear-gradient(270deg, #8ee901 0%, #4f9c2c 100%);
  --gray-background-color: #75758a;

  --main-text-color: #000;
  --gray-text-color: #75758a;

  --font-Montserrat: "Montserrat", sans-serif;
  --font-Ubuntu: "Ubuntu", sans-serif;
}
